* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  color: rgb(103, 99, 75);
  background-color: bisque;
}

.inspector {
  position: relative;
  top: 35px;
  width: 100%;
  padding: 10px;
  height: 180px;
}

.detail {
  font-size: 18px;
}

.pull-right {
  text-align: right;
}

.note {
  font-style: italic;
}

.clickable {
  font-weight: bold;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

.error {
  color: red;
}

.btn.error {
  background-color: lightcoral;
}

.horizontal {
  display: inline-block;
}

.btn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  color: lightpink;
  font-size: 30px;
  background: bisque;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-color: lightpink;
  border-radius: 5px;
}

.btn:hover {
  background: lightpink;
  color: white;
  text-decoration: none;
}

.btn-holder {
  margin: auto;
  width: 180px;
}

html {
  overflow-x: hidden;
  font-weight: 500;
  opacity: 1;
}

.panel {
  width: 100%;
}

.main {
  height: 100%;
  position: relative;
}

/* taken from skeleton.css */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  top: 38px;
}

.expanded {
  top: 160px;
}

/* taken from skeleton.css */
.column,
.columns {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.no-wrap {
  overflow-x: hidden;
  white-space:nowrap;
}

.table {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

tr:nth-child(even) {
  background-color: mocassin;
}


tr:nth-child(odd) {
  background-color: tan;
}

.header {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: peru;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: bisque;
}

.header-element {
  float: left;
  display: block;
  padding: 10px;
}

th {
  font-weight: normal;
  text-align: left;
  background-color: bisque;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: moccasin;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 10px;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 10px;
}

a.nav-link:link {
  color: inherit;
}

a.nav-link:visited {
  color: inherit;
}

a.nav-link:hover {
  color: inherit;
}

a.nav-link:active {
  color: inherit;
}
